/*-- scss:defaults --*/

$theme-text-color: white;

@font-face {
  font-family: 'CardenioModern';
  src: url('static/cardenio_modern_font/CardenioModern-Regular.otf') format('truetype');
}

/*-- scss:rules --*/


.quarto-dashboard .bslib-value-box .value-box-value {
    font-size: clamp(.1em, 5cqw, 5em) !important;
}

table {
  font-family: 'CardenioModern' !important;
}


/* Bold navbar title */
.navbar-title {
  font-weight: bold !important;
}

.nav-link {

    &.active {
      font-weight: bold !important;
    }

  }