# .github/workflows/preview.yml
name: Deploy PR previews

on:
  pull_request:
    branches:
      - main # Or your main branch name

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt install libcurl4-openssl-dev libnode-dev libx11-dev pandoc libfontconfig1-dev libfreetype6-dev 

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.5.0'

      - name: Cache R packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/R/renv
          key: ${{ runner.os }}-renv-${{ hashFiles('**/renv.lock') }}
          restore-keys: |
            ${{ runner.os }}-renv-

      - name: Install R Dependencies
        uses: r-lib/actions/setup-renv@v2
        with:
          cache-version: 1

      - name: Render Quarto Project
        run: quarto render

      - name: Deploy PR Preview
        uses: rossjrw/pr-preview-action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          source-dir: _site # Or your output directory
          # Other optional configurations for base-url, comment-template, etc.